[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/rodelrod/snipmate.vim
	ignore = dirty
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/tristen/vim-sparkup.git
	ignore = dirty
[submodule "bundle/python_pep8_indent"]
	path = bundle/python_pep8_indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
